@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

html {
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  position: relative;

}
/* cards */

.thanks-card{
  position: absolute;
  transform: translate(120%, 50%);
  z-index: 1;
  max-width: 400px;
  padding: 2rem;
  text-align: center;

}

.thanks-card p{
  padding:0 0 1.5rem 0;
  line-height: 1.8rem;
  font-size: 0.8rem;
}
.back-tiers, .thanks-card-wrapper{
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 110%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.back-tiers .wrapper{
  background-color: white;
  padding: 1.5rem 2rem;
  max-width: 700px;
  transform: translateY(15%);
  border-radius: 10px;
}
.upper-card{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.card-container .card{
  background-color: white;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 48%);
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 1rem 0;
  padding: 1.5rem  ;
}
.upper-card .right{
  padding: 0 1rem;
}
.upper-card p{
  line-height: 1.5rem;
}
.header-card{
  display: flex;
  justify-content: space-between;
}
.order-det, .pledge-left{
  display: flex;
  align-items: center;
}
.upper-card .right h3{
  margin: 0;
  padding-right: 0.4rem;
}
.order-det span{
  color: hsl(176, 50%, 47%);
  font-weight: 500;
}
.down-card{
  display: flex;
  justify-content: space-between;
  padding:1rem ;
  align-items: center;
  border-top: 1px solid hsla(0, 0%, 48%, 0.342);
}
.down-card .left span{
  color: hsl(0, 0%, 48%);
}

/* cards */

nav {
  display: flex;
  justify-content: space-between;
  height: 6.875rem;
  align-items: center;
  padding: 0 5rem;
}

nav .right ul {
  list-style: none;
  display: flex;
}
nav .left {
  padding-left: 1rem;
}
nav .right ul li a {
  text-decoration: none;
  color: white;
}
nav .right ul li {
  padding: 0 1rem;
}
header {
  height: calc(100vh - 250px);
  background-image: url(images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper {
  max-width: 43.75rem;
  margin: 0 auto;
  margin-top: -6.75rem;
  margin-bottom: 5rem;
}

/* mobile nav */


.mobile{
  display: none;
  
}
#menu-drop{
  display: none;
}
#menu-drop:checked + .mobile-m{
  display: flex;
}
.mobile-m{
  display: none;
  flex-direction: column;
  position: absolute;
  left: 30%;
  margin-left: -50px;
  top: 5%;
  margin-top: -50px;
  width: 300px;
  height: 200px;
  z-index: 2;
}
.mobile-m .menu-mobile{
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.mobile-m .menu-mobile li {
  padding: 1rem;
}
.mobile-m .menu-mobile li a{
  color: black;
  font-weight: 700;
}
.mobile-m .menu-mobile li:nth-child(2){
  border-style:  solid none solid none ;
  border-color: hsla(0, 0%, 48%, 0.1);
}

/* mobile nav */

/* intro */

.intro {
  position: relative;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro p {
  margin-top: 0;
}
.mastercraft {
  position: absolute;
  top: -30px;
}
.intro .options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.switch{
  background-color:hsla(0, 5%, 85%, 0.363);
  color: hsl(0, 2%, 62%);
  padding: 1rem 2rem 1rem 4rem;
  text-decoration: none;
  border: 0;
  border-radius: 25px;
  font-weight: 500;
  transition: 400ms ease;
  position: relative;
  text-align: center;
}
.switch:hover{
  color: hsl(176, 72%, 28%);
}
.active{
  fill: hsl(176, 72%, 28%);
  color: hsl(176, 72%, 28%);
}
.active2{
  fill:white;
}
.bookmark{
  position: absolute;
  top: -1.5px;
  left: 0;
}
.bookmark-2{
  display: none;
}
.switch .bookmark g circle,.bookmark-2 g circle{
  transition: 400ms ease;
}
.switch:hover .bookmark g circle, .bookmark-2:hover g circle{
  fill:hsl(176, 72%, 28%);
}
.switch:hover .bookmark-inside,.bookmark-2:hover .bookmark-inside{
  fill:hsl(0, 0%, 100%);
}
.switch .bookmark-inside{
  transition: 400ms ease;
}

/* intro */

/* progress */
.progress {
  padding: 2.5rem 2rem;
  margin: 1.5rem 0;
}
.amounts {
  display: flex;
  align-items: flex-start;
}
.amount-backers {
  border-style: none solid none solid;
  border-color: hsla(0, 0%, 48%, 0.1);
  padding: 0 3rem;
}
.amount-backers p,
.amount-money p,
.amount-time p,
.amount-backers h1,
.amount-money h1,
.amount-time h1 {
  margin-top: 0;
}
.amount-backers h1,
.amount-money h1,
.amount-time h1 {
  margin-bottom: 0.4rem;
  font-size: 2rem;
}
.progress-bar {
  width: 100%;
  padding: 1.5rem 1rem;
}
/* slider */

/* The slider itself */
input[type="range"].styled-slider {
  width: 100%;
  height: 1.3em;
  -webkit-appearance: none;
  border-radius: 1rem;
}

/*progress support*/
input[type="range"].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 0.8em + var(--ratio) * (100% - 0.8em));
}

input[type="range"].styled-slider:focus {
  outline: none;
}

/*webkit*/
input[type="range"].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"].styled-slider::-webkit-slider-runnable-track {
  height: 1em;
  border-radius: 0.5em;
  background: hsl(0, 0%, 48%);
  border: none;
  box-shadow: none;
}
input[type="range"].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(to right, hsl(176, 50%, 47%), hsl(176, 50%, 47%))
      0 / var(--sx) 100% no-repeat,
    hsla(0, 0%, 48%, 0.288);
}

/*mozilla*/
input[type="range"].styled-slider::-moz-range-thumb {
  width: 0;
  height: 0;
  border-radius: 1em;
  background: white;
  border: none;
  box-shadow: 0 0 2px black;
}

input[type="range"].styled-slider::-moz-range-track {
  height: 1em;
  border-radius: 0.5em;
  background: hsl(229, 57%, 11%);
  border: none;
  box-shadow: none;
}

input[type="range"].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(to right, hsl(176, 50%, 47%), hsl(176, 50%, 47%))
      0 / var(--sx) 100% no-repeat,
    hsl(0, 0%, 48%);
}

/*ms*/
input[type="range"].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type="range"].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type="range"].styled-slider::-ms-thumb {
  width: 0.8em;
  height: 0.8em;
  border-radius: 1em;
  background: white;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: 0;
  box-sizing: border-box;
}

input[type="range"].styled-slider::-ms-track {
  height: 1em;
  border-radius: 0.5em;
  background: hsl(229, 57%, 11%);
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="range"].styled-slider.slider-progress::-ms-fill-lower {
  height: 1em;
  border-radius: 0.5em 0 0 0.5em;
  margin: -undefined 0 -undefined -undefined;
  background: linear-gradient(to right, hsl(176, 50%, 47%), hsl(176, 50%, 47%))
      0 / var(--sx) 100% no-repeat,
    hsl(0, 0%, 48%);
  border: none;
  border-right-width: 0;
}
/* slider */



/* progress */

.about {
    padding: 1.5rem 2rem;
}
.details,.amount-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amount-left h1{
    padding-right: 0.4rem;
    font-size: 2.1rem;
}


/* progress */
/* utilities */

.card {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: -3px 5px 15px 5px rgba(0, 0, 0, 0.13);
  box-shadow: -3px 5px 15px 5px rgba(0, 0, 0, 0.05);
}
.rewards > .card{
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid hsla(0, 0%, 48%, 0.418);
    margin: 1rem 0;
    padding: 1.5rem;
}
p, .amount-left span {
  color: hsl(0, 0%, 48%);
}
.btn {
  background-color: hsl(176, 50%, 47%);
  color: white;
  padding: 1rem 1.8rem;
  text-decoration: none;
  border: 0;
  border-radius: 25px;
  font-weight: 500;
  transition: 400ms;
}
.btn:hover{
    background-color: hsl(176, 72%, 28%);
}
.px-2 {
  padding: 0 3rem;
}
.ple-amount{
    color: hsl(176, 50%, 47%);
    font-weight: 500;
}
.choose-ple{
    line-height: 2rem;
}
.out{
    opacity: 0.4;
    cursor: default;
}
.btn-out{
    background-color: hsl(0, 0%, 48%);
    cursor: default;
}
.btn-out:hover{
    background-color: hsl(0, 0%, 48%);
}
.py-b{
    padding-bottom: 1rem;
}
.btn-2{
  background-color: hsl(176, 50%, 47%);
  color: white;
  padding: 0.8em 1.5rem;
  text-decoration: none;
  border: 0;
  border-radius: 25px;
  font-weight: 500;
  transition: 400ms;
  cursor: pointer;
}
.input-p{
  height: 36.31px;
  width: 96px;
  border-radius: 25px;
  border: 1px solid hsl(0, 0%, 48%);
  margin-right: 0.5rem;
  outline: none;
  padding: 0 0.3rem;
}
.hidden{
  display: none;
}
.mobile-m .card{
  box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
}
/* utilities */

/* media queries */

@media (max-width:1000px){
  .thanks-card{
    transform: translate(55%, 50%);
  }

}
@media (max-width:700px){
  .wrapper{
    padding: 0 1.5rem;
  }

  .back-tiers{
    transform: translate(0%,20%);
    margin: 0 auto;
  }
  .back-tiers .wrapper{
    margin: 0 1rem;
  }
  nav{
    padding: 0 1.5rem;
  }
  .back-tiers {
    transform: translateY(0);
  }
  .thanks-card{

    transform: translate(35%, 50%);

  
  }
}
@media (max-width:600px){
  .progress {
    padding: 2.5rem 2rem;
    margin: 1.5rem 0;
  }
  .amounts {
    align-items: center;
    flex-direction: column;
  }
  .amount-backers {
    border-style: solid none solid none;
    margin: 0.75rem 0;
    padding: 00.75rem 0;
  }
  .intro{
    text-align: center;
  }

  .amount-backers h1,
  .amount-money h1,
  .amount-time h1 {
    margin-bottom: 0.4rem;
    font-size: 2rem;
  }
  .mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  nav .right .desktop{
    display: none;
  }


}
@media (max-width:470px){
  .switch{
    display: none;
  }
  .bookmark{
    display: block;
  }
  .bookmark-2{
    display: block;
  }
  .thanks-card{
    position: absolute;
    transform: translate(5%,10%);
    z-index: 1;
    max-width: 90%;
    padding: 2rem;
    text-align: center;
  
  }

}
@media (max-width:430px){
  .details{
    flex-direction: column;
    align-items: flex-start;
  }

  .rewards > .card{
    padding: 2.5rem 1.5rem;
  }
  
}
